* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 2em;
    height: 100vh;
    font-size: 24px;
    max-width: 1200px;
}

header {
    text-align: center;
}


button {
    font-size: 24px;
    background-color: transparent;
    border: 3px solid rgb(186, 174, 0);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(186, 174, 0);
    color: white;
}

main div {
    padding-bottom: 1vh;
    margin-bottom: 2vh;
}

.read {
    border-bottom: 1px solid rgb(209, 210, 212);
    color: rgb(129, 130, 134);
}


.read_table_row {
    text-align: center;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 3fr 2fr;
    font-size: 20px;
    margin-bottom: 0;
}

form {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgb(209, 210, 212);
    border-radius: 15px;
}

.form_active {
    display: block;

}

.fa-times {
    position: absolute;
    right: 2em;
    top: 1em;
    cursor: pointer;
}

section {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

input,
select {
    border: 2px solid rgb(209, 210, 212);
    border-radius: 5px;
    height: 24px;
    outline-style: none;
    background-color: rgb(209, 210, 212);
    padding-left: 10px;
}

.bin,
.status_checked,
.status_times {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.bin {
    background-image: url('img/trash-solid.svg');
    opacity: 0.3;
}

.status_checked {
    background-image: url(img/check-circle-solid2.svg);
}

.status_times {
    background-image: url(img/times-circle-solid2.svg);
}

input:focus {
    background-color: #fff;
}

h2 {
    padding-bottom: 5vh;
}


.activeStar {
    background-color: purple;
}